<ion-header class="header">
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu" class="menu"></ion-icon>
    </button>
    <ion-title>
      Preferiti
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="content-background" padding *ngIf="this.favouriteTelefilm">
  <div class="btn-add" ion-fixed>
      <button mat-fab (click)="addTelefilm()" >
          <ion-icon name="add"></ion-icon>
      </button>
  </div>
  <ion-list>
    <div cards>
      <div class="grid-full">
        <ion-row>
          <ion-col *ngFor="let item of this.favouriteTelefilm">
              <ion-card (click)="presentProfileModal(item)">
                <img src="{{item.poster_path}}" />
              </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-list>
</ion-content>
